#nosotros{
    margin-top: 50px;  
  }
  p{
    line-height: 28px;
  }
  h1{
    font-weight: bold;
    font-size: 2.5em;
    height: 80px;
    padding: 20px 0;
  }
  .fondo-titulo{
    border-bottom: 1px solid #eee;
    box-shadow: 0px -2px 3px 0px;
    width: 100%;
    background: #FFF;
  }
  h2{
    color: #337AB7;
    font-size: 1.4em;
    font-weight: bold;
    margin: 25px 0;
  }
 
  
  #footer{  
    font-size: 1.2em;
    height: 115px;
    padding: 50px 0;  
    text-align: center;
  }
  